<ion-view view-title="故事">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon" ng-class="{false :'ion-android-arrow-back', true: 'ion-ios-arrow-back'}[isIOS]" ng-show="showHistoryBack" ng-click="historyBack()"></button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-repeat="row in table.rows">
      <div class="item item-divider">{{row.title}}</div>
      <div class="item item-body">
        <a class="item-image" href="#/tab/discover/act/{{row.id}}">
          <img ng-src="{{JAVA_URL + row.cropImageUrl}}" />
        </a>
      </div>
    </div>
        <p class="empty-title" ng-hide="table.rows.length>0">暂无任何内容</p>
  </ion-content>
</ion-view>
