<ion-view view-title="发现">
    <ion-content>
        <ion-list>
            <ion-item href="#/tab/discover/medicine">药品</ion-item>
            <ion-item href="#/tab/discover/act">活动</ion-item>
            <ion-item href="#/tab/discover/knowledge">知识</ion-item>
            <ion-item href="#/tab/discover/story">故事</ion-item>
            <ion-item href="#/tab/discover/hospital">医院</ion-item>
            <ion-item href="#/tab/discover/game">游戏</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
